Flask==2.3.2
gunicorn==19.9.0
Keras==2.3.1
numpy==1.21.0
pandas==1.0.5
pillow==9.0.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.4
requests==2.22.0
scikit-learn==0.21.2
sklearn==0.0
scipy==1.4.1
matplotlib==3.1.1
tensorboard==2.2.2
tensorflow==2.5.3
mecab-python3==0.996.2
bs4==0.0.1